.ext-bookmark {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  background-color: #890000;
  padding: 8px;
  border-radius: 10px;
  right: 10px;
  transition: background-color linear 0.5s ease;
}

.ext-bookmark:hover {
  background-color: #610000;
}

.ext-bookmark-hidden {
  display: none;
}

.ext-bookmark-tip {
  position: absolute;
  font-size: 15px;
  line-height: 1.3;
  width: 150px;
  left: 5px;
  text-align: center;
}

.ext-bookmark-tip::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -15px;
  border: solid #890000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(-45deg);
}
