.ext-bookmark {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  background-color: #890000;
  padding: 8px;
  border-radius: 10px;
  right: 10px;
  transition: background-color linear 0.5s ease;
}

.ext-bookmark:hover {
  background-color: #610000;
}

.ext-bookmark-hidden {
  display: none;
}
